@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1C1C1C;
    --navy: #1F2937;
    --green: #4ADF86;
    --grey: #D5D4D8;
    --button: #10B981;
    --line: #2F3E53;
    --passwords: #55F991;
    --passwords-bg: #273549;
    --heading: 'Karla', sans-serif;
    --body: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button,
input,
textarea {
    all: unset;
    cursor: pointer;
}

body {
    background: var(--bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
}

.box {
    width: 550px;
    height: 550px;
    background: var(--navy);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 110px 52px 115px 52px;
}

.text {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #FFF;
    font-family: var(--heading);
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.025em;
}

span {
    color: var(--green);
}

p {
    color: var(--grey);
    font-family: var(--body);
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-bottom: 51px;
}

input {
    color: #FFF;
    background: var(--button);
    font-family: var(--body);
    font-size: 1rem;
    width: fit-content;
    padding: 10px 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px; 
}

.line {
    border-bottom: 1px solid var(--line);
    margin-top: 35px;
}

.password {
    color: var(--passwords);
    font-family: var(--body);
    display: flex;
    gap: 0 24px;
    margin-top: 35px;
}

#password-one,
#password-two {
    background: var(--passwords-bg);
    width: 211px;
    height: 39px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}